gradio==4.19.1
azure-storage-file-share==12.11.1
azure-storage-blob
python-dotenv==1.0.0
langchain==0.2.1
langchain_openai==0.1.7
langgraph==0.0.55
pinecone-client==4.1.0
sentence-transformers==2.6.0
huggingface-hub
pyalex==0.13
networkx==3.2.1
pyvis==0.3.2
flashrank==0.2.5
rerankers==0.3.0
torch==2.3.0
nvidia-cudnn-cu12==8.9.2.26
