gradio==4.19.1
azure-storage-file-share==12.11.1
azure-storage-blob
python-dotenv==1.0.0
langchain==0.1.4
langchain_openai==0.0.6
pinecone-client==3.0.2
sentence-transformers==2.6.0
huggingface-hub
msal
pyalex==0.13
networkx==3.2.1
pyvis==0.3.2
flashrank==0.2.5
